In [1]:
import numpy as np
import pandas as pd

from sqlalchemy import create_engine, inspect
from sqlalchemy import func
import pymysql
pymysql.install_as_MySQLdb()

from sqlalchemy.ext.declarative import declarative_base
Base = declarative_base()
from sqlalchemy import Column, Integer, String, Float

In [2]:
#import MySQL connection dependencies and establish parameters for MySQL connection to amazon server
import sqlalchemy
import mysql.connector
from sqlalchemy import create_engine
database_username = 'root'
database_password = 'root'
database_ip       = '127.0.0.1:3306'
database_name     = 'olympics'
database_connection = sqlalchemy.create_engine('mysql+mysqlconnector://{0}:{1}@{2}/{3}'.
                                              format(database_username, database_password,
                                                     database_ip, database_name))
engine = database_connection
print(engine)

Base.metadata.create_all(engine)
print(Base.metadata.create_all(engine))

Engine(mysql+mysqlconnector://root:***@127.0.0.1:3306/olympics)
None

In [3]:
from sqlalchemy.ext.automap import automap_base
# reflect an existing database into a new model
Base = automap_base()
# reflect the tables
Base.prepare(engine, reflect=True)
#Base.metadata.create_all(engine)
from sqlalchemy.orm import Session
#Add connection
con = engine.connect()
# Create our session (link) from Python to the DB
session = Session(engine)
Base.metadata.tables

immutabledict({'master_data': Table('master_data', MetaData(bind=None), Column('Year', BIGINT(display_width=20), table=<master_data>), Column('City', TEXT(), table=<master_data>), Column('Sport', TEXT(), table=<master_data>), Column('Discipline', TEXT(), table=<master_data>), Column('Athlete', TEXT(), table=<master_data>), Column('Country_code', TEXT(), table=<master_data>), Column('Gender', TEXT(), table=<master_data>), Column('Event', TEXT(), table=<master_data>), Column('Medal', TEXT(), table=<master_data>), Column('season', TEXT(), table=<master_data>), Column('Country', TEXT(), table=<master_data>), Column('Population', BIGINT(display_width=20), table=<master_data>), Column('GDP per Capita', BIGINT(display_width=20), table=<master_data>), Column('CapitalName', TEXT(), table=<master_data>), Column('CapitalLatitude', DOUBLE(asdecimal=True), table=<master_data>), Column('CapitalLongitude', DOUBLE(asdecimal=True), table=<master_data>), Column('ContinentName', TEXT(), table=<master_data>), Column('Images File Name', TEXT(), table=<master_data>), Column('ImageURL', TEXT(), table=<master_data>), Column('id', INTEGER(display_width=11), table=<master_data>, primary_key=True, nullable=False), schema=None)})

In [4]:
# Create the inspector and connect it to the engine
inspector = inspect(engine)
# Collect the names of tables within the database
inspector.get_table_names()

['master_data']

In [5]:
Base.classes.keys()

['master_data']

In [6]:
# Save references to each table
Master_data = Base.classes.master_data
print(Master_data)

<class 'sqlalchemy.ext.automap.master_data'>

In [7]:
#Put Measurement Table into a pandas DataFrame
df = pd.read_sql('SELECT * FROM Master_data', con)
df.head()
#Prec = session.query(Measurement.station, Measurement.prcp, Station.name, Station.latitude, Station.longitude, Station.elevation).\
#    filter(Measurement.date > '2016-08-01').filter(Measurement.date > '2016-08-13').\
#    filter(Measurement.station == Station.station).\
#    group_by(Measurement.station).\
#    order_by(Measurement.prcp.desc()).statement

#prec_df = pd.read_sql_query(Prec, session.bind)
#prec_df.head()

,Year,City,Sport,Discipline,Athlete,Country_code,Gender,Event,Medal,season,Country,Population,GDP per Capita,CapitalName,CapitalLatitude,CapitalLongitude,ContinentName,Images File Name,ImageURL,id
0,1896,Athens,Aquatics,Swimming,"HAJOS, Alfred",HUN,Men,100M Freestyle,Gold,summer,Hungary,1896,1896,Budapest,47.500000,19.083333,Europe,Flag_of_Hungary.svg,https://upload.wikimedia.org/wikipedia/commons...,1
1,1896,Athens,Aquatics,Swimming,"HERSCHMANN, Otto",AUT,Men,100M Freestyle,Silver,summer,Austria,1896,1896,Vienna,48.200000,16.366667,Europe,Flag_of_Austria.svg,https://upload.wikimedia.org/wikipedia/commons...,2
2,1896,Athens,Aquatics,Swimming,"DRIVAS, Dimitrios",GRE,Men,100M Freestyle For Sailors,Bronze,summer,Greece,1896,1896,Athens,37.983333,23.733333,Europe,Flag_of_Greece.svg,https://upload.wikimedia.org/wikipedia/commons...,3
3,1896,Athens,Aquatics,Swimming,"MALOKINIS, Ioannis",GRE,Men,100M Freestyle For Sailors,Gold,summer,Greece,1896,1896,Athens,37.983333,23.733333,Europe,Flag_of_Greece.svg,https://upload.wikimedia.org/wikipedia/commons...,4
4,1896,Athens,Aquatics,Swimming,"CHASAPIS, Spiridon",GRE,Men,100M Freestyle For Sailors,Silver,summer,Greece,1896,1896,Athens,37.983333,23.733333,Europe,Flag_of_Greece.svg,https://upload.wikimedia.org/wikipedia/commons...,5

In [15]:
null_df = df.loc[df.isnull().any(axis=1)]
missing = 60 - null_df.count()
missing

Year                 0
City                 0
Sport                0
Discipline           0
Athlete              0
Country_code         0
Gender               0
Event                0
Medal                0
season               0
Country              0
Population           0
GDP per Capita       0
CapitalName          6
CapitalLatitude      2
CapitalLongitude     2
ContinentName        2
Images File Name    60
ImageURL            60
id                   0
dtype: int64

In [16]:
null_df['Country'].unique()

array(['Puerto Rico', 'Taiwan', 'Bermuda', "Cote d'Ivoire",
       'Netherlands Antilles', 'Virgin Islands', 'Hong Kong'],
      dtype=object)

In [19]:
null_df["Country"].loc[null_df['ImageURL'].isnull()].unique()

array(['Puerto Rico', 'Taiwan', 'Bermuda', "Cote d'Ivoire",
       'Netherlands Antilles', 'Virgin Islands', 'Hong Kong'],
      dtype=object)

In [11]:
#    sample_data = df.loc[df[Year"] > 1, ["otu_id", "otu_label", sample]]
#    # Format the data to send as json
#    data = {
#        "otu_ids": sample_data.otu_id.values.tolist(),
#        "sample_values": sample_data[sample].values.tolist(),
#        "otu_labels": sample_data.otu_label.tolist(),
#    }
#    return jsonify(data)

In [12]:
from flask import Flask, jsonify, render_template
from flask_sqlalchemy import SQLAlchemy

app = Flask(__name__)


#################################################
# Database Setup
#################################################


# app.config["SQLALCHEMY_DATABASE_URI"] = "sqlite:///db/bellybutton.sqlite"
app.config["SQLALCHEMY_DATABASE_URI"] = "mysql+mysqlconnector://root:***@127.0.0.1:3306/olympics"
db = SQLAlchemy(app)

C:\Users\adamz\Anaconda3\lib\site-packages\flask_sqlalchemy\__init__.py:794: FSADeprecationWarning: SQLALCHEMY_TRACK_MODIFICATIONS adds significant overhead and will be disabled by default in the future.  Set it to True or False to suppress this warning.
  'SQLALCHEMY_TRACK_MODIFICATIONS adds significant overhead and '