In [1]:
import numpy as np
import pandas as pd
import json
import requests
from sqlalchemy import create_engine, inspect
from sqlalchemy import func
import pymysql
pymysql.install_as_MySQLdb()

from sqlalchemy.ext.declarative import declarative_base
Base = declarative_base()
from sqlalchemy import Column, Integer, String, Float

In [2]:
#import MySQL connection dependencies and establish parameters for MySQL connection to amazon server
import sqlalchemy
import mysql.connector
from sqlalchemy import create_engine
database_username = 'root'
database_password = 'root'
database_ip       = '127.0.0.1:3306'
database_name     = 'olympics'
database_connection = sqlalchemy.create_engine('mysql+mysqlconnector://{0}:{1}@{2}/{3}'.
                                              format(database_username, database_password,
                                                     database_ip, database_name))
engine = database_connection
print(engine)

Base.metadata.create_all(engine)
print(Base.metadata.create_all(engine))

Engine(mysql+mysqlconnector://root:***@127.0.0.1:3306/olympics)
None

In [3]:
from sqlalchemy.ext.automap import automap_base
# reflect an existing database into a new model
Base = automap_base()
# reflect the tables
Base.prepare(engine, reflect=True)
#Base.metadata.create_all(engine)
from sqlalchemy.orm import Session
#Add connection
con = engine.connect()
# Create our session (link) from Python to the DB
session = Session(engine)
#Base.metadata.tables
print(Base.classes.keys())
# Save references to each table
Master_data = Base.classes.master_data
print(Master_data)

['master_data']
<class 'sqlalchemy.ext.automap.master_data'>

In [5]:
year = 2012
sport = "Aquatics"

In [39]:
#stmt = db.session
stmt = session.query(Master_data.Year, Master_data.City, Master_data.Sport, Master_data.Discipline, Master_data.Event, Master_data.Gender, Master_data.Country_code, Master_data.Country, Master_data.Medal).\
filter(Master_data.season == "summer").\
filter(Master_data.Year == year).\
filter(Master_data.Sport == sport).statement
df = pd.read_sql_query(stmt, session.bind) #db.session.bind
df.head()
## Dataframe with query data

,Year,City,Sport,Discipline,Event,Gender,Country_code,Country,Medal
0,2012,London,Aquatics,Diving,10M Platform,Men,USA,United States,Gold
1,2012,London,Aquatics,Diving,10M Platform,Men,CHN,China,Silver
2,2012,London,Aquatics,Diving,10M Platform,Men,GBR,United Kingdom,Bronze
3,2012,London,Aquatics,Diving,10M Platform,Women,CHN,China,Gold
4,2012,London,Aquatics,Diving,10M Platform,Women,AUS,Australia,Silver

In [40]:
df_medal = df.groupby(['Country','Medal']).count().reset_index(level=1)[['Medal','Year']]
df_medal.columns = [['Medal','Count']]
df_medal.head()

            Medal Count
Country
Australia  Bronze    21
Australia    Gold     7
Australia  Silver    18
Belarus    Silver     2
Brazil     Bronze     1

In [41]:
df_test = df.groupby(['Country','Medal']).count().reset_index()[['Country','Medal','Year']]
df_test.columns = [['Country','Medal','Count']]
df_test.head()

     Country   Medal Count
0  Australia  Bronze    21
1  Australia    Gold     7
2  Australia  Silver    18
3    Belarus  Silver     2
4     Brazil  Bronze     1

In [43]:
Test3 = pd.DataFrame(df.groupby(['Country','Medal']).count()['Year'])
Test3.columns=['Count']
Test3.head()

                  Count
Country   Medal
Australia Bronze     21
          Gold        7
          Silver     18
Belarus   Silver      2
Brazil    Bronze      1

In [44]:
Test3

                       Count
Country        Medal
Australia      Bronze     21
               Gold        7
               Silver     18
Belarus        Silver      2
Brazil         Bronze      1
               Silver      1
Canada         Bronze      6
               Silver      1
China          Bronze     11
               Gold       15
               Silver     14
Croatia        Gold       13
France         Bronze      6
               Gold        9
               Silver      6
Germany        Silver      1
Hungary        Bronze      1
               Gold        2
Italy          Bronze      1
               Silver     13
Japan          Bronze     11
               Silver      6
Korea, South   Silver      2
Lithuania      Gold        1
Malaysia       Bronze      1
Mexico         Bronze      1
               Silver      4
Netherlands    Bronze      1
               Gold        2
               Silver      5
Russia         Bronze      7
               Gold       12
               Silver      4
Serbia         Bronze     13
South Africa   Gold        2
               Silver      1
Spain          Bronze      9
               Silver     17
Tunisia        Bronze      1
               Gold        1
United Kingdom Bronze      3
               Silver      1
United States  Bronze     15
               Gold       55
               Silver     18

In [27]:
(df.groupby('Country').count()['Year']).to_json()

'{"Australia":46,"Belarus":2,"Brazil":2,"Canada":7,"China":40,"Croatia":13,"France":21,"Germany":1,"Hungary":3,"Italy":14,"Japan":17,"Korea, South":2,"Lithuania":1,"Malaysia":1,"Mexico":5,"Netherlands":8,"Russia":23,"Serbia":13,"South Africa":3,"Spain":26,"Tunisia":2,"United Kingdom":4,"United States":88}'

In [31]:
Test3.groupby(level=0).apply(lambda df: df.xs(df.name).to_dict()).to_dict()
test_dict = Test3.groupby(level=0).apply(lambda df: df.xs(df.name).to_dict()).to_dict()
test_dict

{'Australia': {'Count': {'Bronze': 21, 'Gold': 7, 'Silver': 18},
  'Total': {'Bronze': nan, 'Gold': nan, 'Silver': nan}},
 'Belarus': {'Count': {'Silver': 2}, 'Total': {'Silver': nan}},
 'Brazil': {'Count': {'Bronze': 1, 'Silver': 1},
  'Total': {'Bronze': nan, 'Silver': nan}},
 'Canada': {'Count': {'Bronze': 6, 'Silver': 1},
  'Total': {'Bronze': nan, 'Silver': nan}},
 'China': {'Count': {'Bronze': 11, 'Gold': 15, 'Silver': 14},
  'Total': {'Bronze': nan, 'Gold': nan, 'Silver': nan}},
 'Croatia': {'Count': {'Gold': 13}, 'Total': {'Gold': nan}},
 'France': {'Count': {'Bronze': 6, 'Gold': 9, 'Silver': 6},
  'Total': {'Bronze': nan, 'Gold': nan, 'Silver': nan}},
 'Germany': {'Count': {'Silver': 1}, 'Total': {'Silver': nan}},
 'Hungary': {'Count': {'Bronze': 1, 'Gold': 2},
  'Total': {'Bronze': nan, 'Gold': nan}},
 'Italy': {'Count': {'Bronze': 1, 'Silver': 13},
  'Total': {'Bronze': nan, 'Silver': nan}},
 'Japan': {'Count': {'Bronze': 11, 'Silver': 6},
  'Total': {'Bronze': nan, 'Silver': nan}},
 'Korea, South': {'Count': {'Silver': 2}, 'Total': {'Silver': nan}},
 'Lithuania': {'Count': {'Gold': 1}, 'Total': {'Gold': nan}},
 'Malaysia': {'Count': {'Bronze': 1}, 'Total': {'Bronze': nan}},
 'Mexico': {'Count': {'Bronze': 1, 'Silver': 4},
  'Total': {'Bronze': nan, 'Silver': nan}},
 'Netherlands': {'Count': {'Bronze': 1, 'Gold': 2, 'Silver': 5},
  'Total': {'Bronze': nan, 'Gold': nan, 'Silver': nan}},
 'Russia': {'Count': {'Bronze': 7, 'Gold': 12, 'Silver': 4},
  'Total': {'Bronze': nan, 'Gold': nan, 'Silver': nan}},
 'Serbia': {'Count': {'Bronze': 13}, 'Total': {'Bronze': nan}},
 'South Africa': {'Count': {'Gold': 2, 'Silver': 1},
  'Total': {'Gold': nan, 'Silver': nan}},
 'Spain': {'Count': {'Bronze': 9, 'Silver': 17},
  'Total': {'Bronze': nan, 'Silver': nan}},
 'Tunisia': {'Count': {'Bronze': 1, 'Gold': 1},
  'Total': {'Bronze': nan, 'Gold': nan}},
 'United Kingdom': {'Count': {'Bronze': 3, 'Silver': 1},
  'Total': {'Bronze': nan, 'Silver': nan}},
 'United States': {'Count': {'Bronze': 15, 'Gold': 55, 'Silver': 18},
  'Total': {'Bronze': nan, 'Gold': nan, 'Silver': nan}}}

In [23]:
#stmt = db.session
stmt = session.query(Master_data.Year, Master_data.City, Master_data.Sport, Master_data.Discipline, Master_data.Event, Master_data.Gender, Master_data.Country_code, Master_data.Country, Master_data.Medal).\
filter(Master_data.season == "summer").statement#\
#filter(Master_data.Year == year).\
#filter(Master_data.Sport == sport).statement
df = pd.read_sql_query(stmt, session.bind) #db.session.bind
df.head()
## Dataframe with query data

,Year,City,Sport,Discipline,Event,Gender,Country_code,Country,Medal
0,1896,Athens,Aquatics,Swimming,100M Freestyle,Men,HUN,Hungary,Gold
1,1896,Athens,Aquatics,Swimming,100M Freestyle,Men,AUT,Austria,Silver
2,1896,Athens,Aquatics,Swimming,100M Freestyle For Sailors,Men,GRE,Greece,Bronze
3,1896,Athens,Aquatics,Swimming,100M Freestyle For Sailors,Men,GRE,Greece,Gold
4,1896,Athens,Aquatics,Swimming,100M Freestyle For Sailors,Men,GRE,Greece,Silver

In [58]:
years.sort(reverse=True)

In [61]:
years

In [62]:
years = df.Year.unique().tolist()

In [ ]:
sports = df.Sport.unique().tolist()

In [6]:
year = 2012
sport = "Aquatics"
medal = "Gold"

In [7]:
#stmt = db.session
stmt = session.query(Master_data.Year, Master_data.City, Master_data.Sport, Master_data.Discipline, Master_data.Event, Master_data.Gender, Master_data.Country_code, Master_data.Country, Master_data.Medal).\
filter(Master_data.season == "summer").\
filter(Master_data.Year == year).\
filter(Master_data.Sport == sport).statement
df = pd.read_sql_query(stmt, session.bind) #db.session.bind
df.head()
## Dataframe with query data

,Year,City,Sport,Discipline,Event,Gender,Country_code,Country,Medal
0,2012,London,Aquatics,Diving,10M Platform,Men,USA,United States,Gold
1,2012,London,Aquatics,Diving,10M Platform,Men,CHN,China,Silver
2,2012,London,Aquatics,Diving,10M Platform,Men,GBR,United Kingdom,Bronze
3,2012,London,Aquatics,Diving,10M Platform,Women,CHN,China,Gold
4,2012,London,Aquatics,Diving,10M Platform,Women,AUS,Australia,Silver

In [17]:
Total_df = pd.DataFrame(df.groupby('Country').count()['Medal']).sort_values('Medal',ascending=False).reset_index()
Total_df.head()

         Country  Medal
0  United States     88
1      Australia     46
2          China     40
3          Spain     26
4         Russia     23

In [18]:
Total_df.to_json(orient='records')

'[{"Country":"United States","Medal":88},{"Country":"Australia","Medal":46},{"Country":"China","Medal":40},{"Country":"Spain","Medal":26},{"Country":"Russia","Medal":23},{"Country":"France","Medal":21},{"Country":"Japan","Medal":17},{"Country":"Italy","Medal":14},{"Country":"Croatia","Medal":13},{"Country":"Serbia","Medal":13},{"Country":"Netherlands","Medal":8},{"Country":"Canada","Medal":7},{"Country":"Mexico","Medal":5},{"Country":"United Kingdom","Medal":4},{"Country":"South Africa","Medal":3},{"Country":"Hungary","Medal":3},{"Country":"Brazil","Medal":2},{"Country":"Tunisia","Medal":2},{"Country":"Korea, South","Medal":2},{"Country":"Belarus","Medal":2},{"Country":"Malaysia","Medal":1},{"Country":"Germany","Medal":1},{"Country":"Lithuania","Medal":1}]'

In [ ]:
pd.DataFrame(medal_df.groupby('Country').count()['Medal']).sort_values('Medal',ascending=False).reset_index()

In [70]:
gold_df.to_json(orient='records')

'[{"Country":"United States","Medal":55},{"Country":"China","Medal":15},{"Country":"Croatia","Medal":13},{"Country":"Russia","Medal":12},{"Country":"France","Medal":9},{"Country":"Australia","Medal":7},{"Country":"Hungary","Medal":2},{"Country":"Netherlands","Medal":2},{"Country":"South Africa","Medal":2},{"Country":"Lithuania","Medal":1},{"Country":"Tunisia","Medal":1}]'